.gray-section {
  background-color: #C79F5A;
  margin: 1rem 0 0rem 0;
  padding: 1rem 0 4rem 0;
  color: rgb(228, 228, 228);

  p {
    color: rgb(228, 228, 228);
  }
}

.blue-section {
  background-color: #4A7684;
  margin: 0rem 0 1rem 0;
  padding: 1rem 0 6rem 0;

  p {
    color: rgb(228, 228, 228);
  }
  h2 {
      padding: 4% 0;
      color: rgb(228, 228, 228);
  }
}

.white-section {
  padding: 1% 12% 3% 12%;
}
