/*Colors:
- Yellow: #C79F5A
- Light Blue: #6487DD
- Purple: #3A2365
- Teal: #4A7684
*/

$theme-colors: (
  "primary": #3a2365,
  "secondary": #4090a0,
);

$btn-padding-x: 10px;
$btn-padding-y: 10px;

$accordion-button-color: #3A2365;
$accordion-button-active-bg: #c8d8ff;
$accordion-button-active-color: #6487dd;

// BootStrap
@import "~bootstrap/scss/bootstrap.scss";

//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: montserrat, sans-serif;
  background: #1f1f1f;
  font-size: 1.4em;
}

h1 {
  color: #3a2365;
  font-family: ubuntu;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

h2 {
  font-family: noto sans;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h3 {
  padding-top: 1rem;
  color: #3a2365;
}

h5 {
  color: hsl(0, 0%, 35%);
}

h6 {
  font-family: ubuntu;
  color: #3a2365;
}

body {
  margin: 0;
}

p {
  color: #616161;
}
li {
  color: #616161;
}

.header {
  background-color: rgb(54, 54, 54);
  color: white;
}

.img-logos {
  max-height: 150px;
  max-width: 250px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.img-portfolio {
  min-height: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5%;
  padding-bottom: 5%;

  :hover {
    background-color: hsl(206, 27%, 38%);
    background-blend-mode: multiply;
  }
}

.align-right {
  text-align: right;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
}


//SECTIONS
.section {
  margin: 1rem 0 1rem 0;
  padding: 2rem 0 1rem 0;
}