h5 {
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  padding-top: 1rem;
}

.content-row {
  color: #6444a1;
  align-items: center;
  padding: 1rem 0;

  .img {
    align-items: center;
    text-align: center;
    width: 90px;
  }
  .text {
    text-align: left;
  }
}
